{% comment %}
  This section is used in the cart template to render /cart page with an
  overview of the items in customer's cart.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/cart
{% endcomment %}

<h1>{{ 'cart.title' | t }}</h1>

<form action="{{ routes.cart_url }}" method="post">
  <table>
    {% assign cart_total = 0 %}
    {% for item in cart.items %}
      {% assign cart_total = cart_total | plus: item.line_price %}
      <tr>
        <td class="w-16 h-16">
          {% render 'image', class: 'cart-item-image w-16 h-16', image: item.image, url: item.url, width: 50, height: 50 %}
        </td>
        <td>
          <p>{{ item.product.title }}</p>
          {{ 'cart.remove' | t | link_to: item.url_to_remove }}
        </td>
        <td>
          <input type="text" name="updates[]" value="{{ item.quantity }}">
          <input type="submit" value="{{ 'cart.update' | t }}">
        </td>
      </tr>
    {% endfor %}
  </table>

  <input type="submit" name="checkout" value="{{ 'cart.checkout' | t }}"> {{ cart_total | money }}
</form>

{% stylesheet %}
  .cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.cart",
  "settings": []
}
{% endschema %}
